@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat" sans-serif;
  overflow: hidden;
}

.image-section {
  background-image: url("../../images/og-bg.png");
  /* height: 80vh;
  width: 100vw; */
  background-position: top;
  /* background-size: cover; */
}

.img-sec-logo {
  width: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-section_text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.os {
  font-family: "Dancing Script", cursive;
  color: #da902f;
  font-weight: 700;
}

.aui {
  position: absolute;
  top: 73%;
  transform: translateY(-50%);
}

.at {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #da902f;
}

.at p {
  font-family: "Montserrat", sans-serif;
}
.about {
  cursor: pointer;
}

.about-img {
  box-shadow: 0 8px 15px rgba(179, 0, 202, 0.7);
  transition: all 0.5s ease;
  border: 12px ridge #da902f;
  border-radius: 5px;
}

.why {
  font-family: "Dancing Script", cursive;
  color: #da902f;
  font-weight: bolder;
}

.why-text {
  font-family: "Montserrat", sans-serif;
}

.image-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.image-section_text {
  width: 100vw;
}

.image-section_text p {
  color: #da902f;
  font-weight: 600;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.subtitulo {
  text-align: center;
  font-weight: 700;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.gallery {
  background: #f2f2f2;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  border: 12px ridge #da902f;
  border-radius: 5px;
}

.img-galeria:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.subtitulo {
  text-align: center;
  font-weight: 700;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.gallery {
  background: #fff;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(179, 0, 202, 0.8);
  transition: all 0.5s ease;
}

.img-galeria:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(179, 0, 202, 0.7);
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.testimonials {
  position: relative;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.youtube {
  width: 750px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .img-sec-logo {
    width: 200px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-section_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .at {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #da902f;
  }

  .aui {
    width: 250px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }

  .youtube{
    width: inherit;
    height: inherit;
  }
}
