.footer {
  background-color: #ffb452;
}

.nizami-text {
  margin-top: -5rem;
  width: 200px;
}

.address,
.contact{
    border-bottom: .1px solid #fff;
}

@media screen and (min-width: 820px){
    .address,
	.contact,
	.email{
        border-bottom: none;
		margin: 0 0;
    }
}
@media screen and (max-width: 768px){
    .address,
	.contact,
	.email{
        border-bottom: none;
		margin: 0 10rem;
    }
}
@media screen and (max-width: 600px){
    .address,
	.contact,
	.email{
        border-bottom: none;
		margin: 0 5rem;
    }
}

ul {
  cursor: pointer;
}

.l {
  color: #885800;
  transition: all 0.3s ease;
}

.pno{
	color: #885800;
}

.l:hover {
  color: #fff;
}

.add {
  color: #885800;
}


.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */
.social-col{
    background-color: #cf8700;
}

.social{
	height: inherit;
  list-style-type: none;
  margin: auto 0;
  padding: 0;
  text-align: center;
}


.social li a{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 10px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #ffb452;
	-moz-box-shadow: inset 0 0 0 40px #ffb452;
	-o-box-shadow: inset 0 0 0 40px #ffb452;
	-ms-box-shadow: inset 0 0 0 40px #ffb452;
	box-shadow: inset 0 0 0 40px #ffb452;
	
	color: #fff;
}

.social li a:hover{
	-webkit-box-shadow: inset 0 0 0 3px #fff;
	-moz-box-shadow: inset 0 0 0 3px #fff;
	-o-box-shadow: inset 0 0 0 3px #fff;
	-ms-box-shadow: inset 0 0 0 3px #fff;
	box-shadow: inset 0 0 0 3px #fff;
	
	color: #ffb452;
}

.footer-copyright{
    background-color: #a55d00;
}
